.container {
    background: rgb(75, 82, 185);
}

.container h1 {
    font-size: 250%;
    margin-top: 5%;
    margin-left: 35%;
}

#info {
    margin-top: 15%;
    padding-left: 50%;
}

#exist{
    font-weight: bold;
    color: rgb(167, 33, 33);
    font-size: 2rem;
}